In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('expand_frame_repr', False)

In [47]:
columns = {
    'MainBranch': 'main_branch',
    'Age': 'age',
    'Employment': 'employment',
    'RemoteWork': 'work_type',
    'EdLevel': 'education',
    'YearsCodePro': 'experience',
    'DevType': 'profession',
    'Country': 'country',
    'CompTotal': 'yearly_salary'
}

In [87]:
df = pd.read_csv('../data/raw/survey_results_public_2024.csv').rename(columns=columns)[columns.values()]

In [54]:
print(df.shape)
df.head()

(65437, 9)

                      main_branch                 age           employment work_type                                                                           education experience             profession                                               country  yearly_salary
0  I am a developer by profession  Under 18 years old  Employed, full-time    Remote                                                           Primary/elementary school        NaN                    NaN                              United States of America            NaN
1  I am a developer by profession     35-44 years old  Employed, full-time    Remote                                        Bachelor’s degree (B.A., B.S., B.Eng., etc.)         17  Developer, full-stack  United Kingdom of Great Britain and Northern Ireland            NaN
2  I am a developer by profession     45-54 years old  Employed, full-time    Remote                                     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         27   Developer Experience  United Kingdom of Great Britain and Northern Ireland            NaN
3           I am learning to code     18-24 years old   Student, full-time       NaN                              Some college/university study without earning a degree        NaN  Developer, full-stack                                                Canada            NaN
4  I am a developer by profession     18-24 years old   Student, full-time       NaN  Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)        NaN  Developer, full-stack                                                Norway            NaN

## Main Branch

In [53]:
df['main_branch'].value_counts()

main_branch
I am a developer by profession                                                           50207
I am not primarily a developer, but I write code sometimes as part of my work/studies     6511
I am learning to code                                                                     3875
I code primarily as a hobby                                                               3334
I used to be a developer by profession, but no longer am                                  1510
Name: count, dtype: int64

In [92]:
df['main_branch'].isna().sum()

0

In [88]:
# We want only people that are developers

df = df.loc[df['main_branch'] == 'I am a developer by profession']

print(df.shape)

(50207, 9)

## Age

In [67]:
df['age'].value_counts()

age
25-34 years old       20887
35-44 years old       12705
18-24 years old        9032
45-54 years old        4937
55-64 years old        1850
65 years or older       353
Under 18 years old      296
Prefer not to say       147
Name: count, dtype: int64

In [93]:
df['age'].isna().sum()

0

In [89]:
# The "prefer not to say" will be imputed as the mode

df.loc[df['age'] == 'Prefer not to say', 'age'] = df['age'].mode().values[0]

In [70]:
df['age'].value_counts()

age
25-34 years old       21034
35-44 years old       12705
18-24 years old        9032
45-54 years old        4937
55-64 years old        1850
65 years or older       353
Under 18 years old      296
Name: count, dtype: int64

## Employment

In [71]:
df.head()

                      main_branch                 age                                            employment work_type                                                                           education experience             profession                                               country  yearly_salary
0  I am a developer by profession  Under 18 years old                                   Employed, full-time    Remote                                                           Primary/elementary school        NaN                    NaN                              United States of America            NaN
1  I am a developer by profession     35-44 years old                                   Employed, full-time    Remote                                        Bachelor’s degree (B.A., B.S., B.Eng., etc.)         17  Developer, full-stack  United Kingdom of Great Britain and Northern Ireland            NaN
2  I am a developer by profession     45-54 years old                                   Employed, full-time    Remote                                     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         27   Developer Experience  United Kingdom of Great Britain and Northern Ireland            NaN
4  I am a developer by profession     18-24 years old                                    Student, full-time       NaN  Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)        NaN  Developer, full-stack                                                Norway            NaN
9  I am a developer by profession     35-44 years old  Independent contractor, freelancer, or self-employed    Remote                                     Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         11  Developer, full-stack                                                Serbia            NaN

In [94]:
df['employment'].isna().sum()

0

In [90]:
# We want only people that works full time

df = df.loc[df['employment'].str.contains('Employed, full-time')]

## Work Type

In [91]:
df['work_type'].value_counts()

work_type
Hybrid (some remote, some in-person)    17344
Remote                                  14661
In-person                                7922
Name: count, dtype: int64

In [95]:
df['work_type'].isna().sum()

10

In [98]:
df['work_type'] = df['work_type'].replace({'Hybrid (some remote, some in-person)': 'Hybrid'}).fillna('Hybrid')

## Education

In [99]:
df.head()

                       main_branch                 age           employment  work_type                                        education experience             profession                                               country  yearly_salary
0   I am a developer by profession  Under 18 years old  Employed, full-time     Remote                        Primary/elementary school        NaN                    NaN                              United States of America            NaN
1   I am a developer by profession     35-44 years old  Employed, full-time     Remote     Bachelor’s degree (B.A., B.S., B.Eng., etc.)         17  Developer, full-stack  United Kingdom of Great Britain and Northern Ireland            NaN
2   I am a developer by profession     45-54 years old  Employed, full-time     Remote  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)         27   Developer Experience  United Kingdom of Great Britain and Northern Ireland            NaN
11  I am a developer by profession     45-54 years old  Employed, full-time  In-person   Professional degree (JD, MD, Ph.D, Ed.D, etc.)         25     Developer Advocate                                                Poland            NaN
12  I am a developer by profession     35-44 years old  Employed, full-time     Hybrid     Bachelor’s degree (B.A., B.S., B.Eng., etc.)         12    Developer, back-end                              United States of America            NaN

In [101]:
df['education'].value_counts()

education
Bachelor’s degree (B.A., B.S., B.Eng., etc.)                                          17637
Master’s degree (M.A., M.S., M.Eng., MBA, etc.)                                       10890
Some college/university study without earning a degree                                 3948
Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)     1615
Professional degree (JD, MD, Ph.D, Ed.D, etc.)                                         1582
Associate degree (A.A., A.S., etc.)                                                    1123
Something else                                                                          388
Primary/elementary school                                                               167
Name: count, dtype: int64

In [102]:
df['education'].isna().sum()

2587

In [106]:
education_mapping = {
    'Primary/elementary school': 'Primary',
    'Bachelor’s degree (B.A., B.S., B.Eng., etc.)': 'Bachelor',
    'Master’s degree (M.A., M.S., M.Eng., MBA, etc.)': 'Master',
    'Professional degree (JD, MD, Ph.D, Ed.D, etc.)': 'Doctor',
    'Some college/university study without earning a degree': 'Other',
    'Associate degree (A.A., A.S., etc.)': 'Other',
    'Secondary school (e.g. American high school, German Realschule or Gymnasium, etc.)': 'Other',
    'Something else': 'Other'
}

In [107]:
df['education'] = df['education'].replace(education_mapping).fillna('Other')

In [109]:
df.head()

                       main_branch                 age           employment  work_type education experience             profession                                               country  yearly_salary
0   I am a developer by profession  Under 18 years old  Employed, full-time     Remote   Primary        NaN                    NaN                              United States of America            NaN
1   I am a developer by profession     35-44 years old  Employed, full-time     Remote  Bachelor         17  Developer, full-stack  United Kingdom of Great Britain and Northern Ireland            NaN
2   I am a developer by profession     45-54 years old  Employed, full-time     Remote    Master         27   Developer Experience  United Kingdom of Great Britain and Northern Ireland            NaN
11  I am a developer by profession     45-54 years old  Employed, full-time  In-person    Doctor         25     Developer Advocate                                                Poland            NaN
12  I am a developer by profession     35-44 years old  Employed, full-time     Hybrid  Bachelor         12    Developer, back-end                              United States of America            NaN

## Experience

In [124]:
df['experience'] = df['experience'].replace({'Less than 1 year': 0, 'More than 50 years': 50}).astype('float')

In [151]:
df['experience_bin'] = pd.cut(df['experience'], bins=[-np.inf, 1, 3, 6, 10, 15, np.inf], labels=['<=1', '(1, 3]', '(3, 6]', '(6, 10]', '(10, 15]', '15+']).astype('str').replace('nan', 'NA')

In [152]:
df['experience_bin'].value_counts()

experience_bin
15+         8029
(6, 10]     7796
(3, 6]      7267
(1, 3]      5787
(10, 15]    5461
NA          3179
<=1         2418
Name: count, dtype: int64

## Profession

In [159]:
profession_list = [
    'Developer, full-stack',
    'Developer Experience',
    'Developer Advocate',
    'Developer, back-end',
    'Database administrator',
    'Developer, desktop or enterprise applications',
    'Cloud infrastructure engineer',
    'Data scientist or machine learning specialist',
    'Research & Development role',
    'Academic researcher',
    'Developer, embedded applications or devices',
    'Engineering manager',
    'DevOps specialist',
    'Developer, mobile',
    'Developer, front-end',
    'Data or business analyst',
    'Developer, game or graphics',
    'Developer, QA or test',
    'Developer, AI',
    'Engineer, site reliability',
    'Security professional',
    'System administrator',
    'Hardware Engineer',
    'Data engineer',
    'Blockchain',
]

In [162]:
df = df.loc[df['profession'].isin(profession_list)]

## Country

In [167]:
countries_continents_mapping = {
    "United Kingdom of Great Britain and Northern Ireland": "Europe",
    "Poland": "Europe",
    "United States of America": "North America",
    "Switzerland": "Europe",
    "Germany": "Europe",
    "Ireland": "Europe",
    "Italy": "Europe",
    "Ukraine": "Europe",
    "Philippines": "Asia",
    "Brazil": "South America",
    "Japan": "Asia",
    "Iran, Islamic Republic of...": "Asia",
    "Austria": "Europe",
    "Romania": "Europe",
    "Bulgaria": "Europe",
    "Turkey": "Europe/Asia",
    "Croatia": "Europe",
    "Pakistan": "Asia",
    "Czech Republic": "Europe",
    "Republic of North Macedonia": "Europe",
    "Finland": "Europe",
    "Slovakia": "Europe",
    "Greece": "Europe",
    "India": "Asia",
    "Belgium": "Europe",
    "Sweden": "Europe",
    "Argentina": "South America",
    "Sri Lanka": "Asia",
    "Latvia": "Europe",
    "Portugal": "Europe",
    "Singapore": "Asia",
    "China": "Asia",
    "Spain": "Europe",
    "Hungary": "Europe",
    "Russian Federation": "Europe/Asia",
    "Canada": "North America",
    "Lithuania": "Europe",
    "France": "Europe",
    "Netherlands": "Europe",
    "Viet Nam": "Asia",
    "Serbia": "Europe",
    "Morocco": "Africa",
    "Taiwan": "Asia",
    "Georgia": "Europe/Asia",
    "San Marino": "Europe",
    "Tunisia": "Africa",
    "Bangladesh": "Asia",
    "Nigeria": "Africa",
    "Liechtenstein": "Europe",
    "Australia": "Oceania",
    "Ecuador": "South America",
    "Mexico": "North America",
    "Albania": "Europe",
    "Israel": "Asia",
    "South Africa": "Africa",
    "Chile": "South America",
    "Lebanon": "Asia",
    "Algeria": "Africa",
    "Peru": "South America",
    "Bolivia": "South America",
    "Cyprus": "Europe/Asia",
    "Kazakhstan": "Asia",
    "Slovenia": "Europe",
    "Costa Rica": "North America",
    "Norway": "Europe",
    "Venezuela, Bolivarian Republic of...": "South America",
    "Denmark": "Europe",
    "Nicaragua": "North America",
    "Thailand": "Asia",
    "Rwanda": "Africa",
    "Bosnia and Herzegovina": "Europe",
    "Saudi Arabia": "Asia",
    "Malaysia": "Asia",
    "Zimbabwe": "Africa",
    "Afghanistan": "Asia",
    "Malta": "Europe",
    "Uruguay": "South America",
    "Belarus": "Europe",
    "New Zealand": "Oceania",
    "Palestine": "Asia",
    "Armenia": "Europe/Asia",
    "Paraguay": "South America",
    "Maldives": "Asia",
    "Egypt": "Africa",
    "United Arab Emirates": "Asia",
    "Fiji": "Oceania",
    "Indonesia": "Asia",
    "El Salvador": "North America",
    "Guatemala": "North America",
    "Mauritius": "Africa",
    "Cuba": "North America",
    "Estonia": "Europe",
    "Kenya": "Africa",
    "Gabon": "Africa",
    "Colombia": "South America",
    "South Korea": "Asia",
    "Iceland": "Europe",
    "Honduras": "North America",
    "Hong Kong (S.A.R.)": "Asia",
    "Dominican Republic": "North America",
    "Mongolia": "Asia",
    "Nepal": "Asia",
    "Uzbekistan": "Asia",
    "Republic of Korea": "Asia",
    "Madagascar": "Africa",
    "Cambodia": "Asia",
    "Montenegro": "Europe",
    "Angola": "Africa",
    "Benin": "Africa",
    "Democratic Republic of the Congo": "Africa",
    "Syrian Arab Republic": "Asia",
    "Iraq": "Asia",
    "Namibia": "Africa",
    "Kyrgyzstan": "Asia",
    "Luxembourg": "Europe",
    "Lao People's Democratic Republic": "Asia",
    "Senegal": "Africa",
    "Tajikistan": "Asia",
    "Isle of Man": "Europe",
    "Burundi": "Africa",
    "Sierra Leone": "Africa",
    "Panama": "North America",
    "Somalia": "Africa",
    "Ethiopia": "Africa",
    "Togo": "Africa",
    "Jordan": "Asia",
    "Oman": "Asia",
    "Ghana": "Africa",
    "Bahamas": "North America",
    "Nomadic": "N/A",
    "Andorra": "Europe",
    "United Republic of Tanzania": "Africa",
    "Democratic People's Republic of Korea": "Asia",
    "Kuwait": "Asia",
    "Republic of Moldova": "Europe",
    "Qatar": "Asia",
    "Sudan": "Africa",
    "Uganda": "Africa",
    "Turkmenistan": "Asia",
    "Kosovo": "Europe",
    "Bahrain": "Asia",
    "Côte d'Ivoire": "Africa",
    "Malawi": "Africa",
    "Burkina Faso": "Africa",
    "Zambia": "Africa",
    "Yemen": "Asia",
    "Azerbaijan": "Europe/Asia",
    "Myanmar": "Asia",
    "Suriname": "South America",
    "Belize": "North America",
    "Libyan Arab Jamahiriya": "Africa",
    "Cape Verde": "Africa",
    "Bhutan": "Asia",
    "Trinidad and Tobago": "North America",
    "Jamaica": "North America",
    "Mauritania": "Africa",
    "Mozambique": "Africa",
    "Antigua and Barbuda": "North America",
    "Samoa": "Oceania",
    "Brunei Darussalam": "Asia",
    "Lesotho": "Africa",
    "Guyana": "South America",
    "Botswana": "Africa",
    "Cameroon": "Africa",
    "Barbados": "North America",
    "Congo, Republic of the...": "Africa",
    "Swaziland": "Africa",
}

In [169]:
df['continent'] = df['country'].map(countries_continents_mapping).fillna('N/A')

C:\Users\erasm\AppData\Local\Temp\ipykernel_26592\3039858446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['continent'] = df['country'].map(countries_continents_mapping).fillna('N/A')

In [172]:
df['continent'].value_counts()

continent
Europe           16304
North America     8469
Asia              5421
South America     1478
Europe/Asia        940
Oceania            933
N/A                826
Africa             745
Name: count, dtype: int64

In [174]:
df

                          main_branch              age           employment  work_type education  experience             profession                                               country  yearly_salary experience_bin      continent
1      I am a developer by profession  35-44 years old  Employed, full-time     Remote  Bachelor        17.0  Developer, full-stack  United Kingdom of Great Britain and Northern Ireland            NaN            15+         Europe
2      I am a developer by profession  45-54 years old  Employed, full-time     Remote    Master        27.0   Developer Experience  United Kingdom of Great Britain and Northern Ireland            NaN            15+         Europe
11     I am a developer by profession  45-54 years old  Employed, full-time  In-person    Doctor        25.0     Developer Advocate                                                Poland            NaN            15+         Europe
12     I am a developer by profession  35-44 years old  Employed, full-time     Hybrid  Bachelor        12.0    Developer, back-end                              United States of America            NaN       (10, 15]  North America
15     I am a developer by profession  45-54 years old  Employed, full-time     Hybrid     Other        27.0  Developer, full-stack                                           Switzerland            NaN            15+         Europe
...                               ...              ...                  ...        ...       ...         ...                    ...                                                   ...            ...            ...            ...
65428  I am a developer by profession  25-34 years old  Employed, full-time     Remote  Bachelor         7.0    Developer, back-end                                                 India            NaN        (6, 10]           Asia
65431  I am a developer by profession  45-54 years old  Employed, full-time     Hybrid  Bachelor        24.0  Developer, full-stack                                               Belgium        55000.0            15+         Europe
65432  I am a developer by profession  18-24 years old  Employed, full-time     Remote  Bachelor         3.0             Blockchain                                                   NaN            NaN         (1, 3]            N/A
65434  I am a developer by profession  25-34 years old  Employed, full-time  In-person  Bachelor         5.0      Developer, mobile                                                   NaN            NaN         (3, 6]            N/A
65435  I am a developer by profession  18-24 years old  Employed, full-time     Hybrid     Other         2.0    Developer, back-end                                               Germany            NaN         (1, 3]         Europe

[35116 rows x 11 columns]

## Target (Yearly Salary)

In [183]:
# Lets remove who receives less than 1k/month and more than 50k/month

df = df.loc[(df['yearly_salary'] >= 12_000) & (df['yearly_salary'] <= 600_000)]

In [186]:
df.groupby('experience_bin')['yearly_salary'].mean().sort_values()

experience_bin
(3, 6]      117461.643430
(1, 3]      118908.884402
NA          121570.242424
<=1         124231.094372
(6, 10]     133754.457634
(10, 15]    145241.361015
15+         147259.905870
Name: yearly_salary, dtype: float64

In [187]:
df['yearly_salary'].isna().sum()

0

## Saving Data

In [189]:
final_features = [
    'age',
    'work_type',
    'education',
    'experience',
    'experience_bin',
    'profession',
    'continent',
    'yearly_salary'
]

df = df[final_features].rename(columns={'yearly_salary': 'target'})

In [190]:
df

                   age work_type education  experience experience_bin                                     profession      continent    target
379    35-44 years old    Remote    Master         6.0         (3, 6]  Data scientist or machine learning specialist    Europe/Asia   85000.0
392    35-44 years old    Hybrid    Doctor        18.0            15+                            Engineering manager         Europe  126420.0
398    45-54 years old    Remote     Other        30.0            15+                          Developer, full-stack  North America  195000.0
403    35-44 years old    Remote     Other        20.0            15+                          Developer, full-stack         Europe   35000.0
414    45-54 years old    Remote  Bachelor        27.0            15+                            Developer, back-end         Europe  145000.0
...                ...       ...       ...         ...            ...                                            ...            ...       ...
65396  18-24 years old    Hybrid     Other         3.0         (1, 3]                          Developer, full-stack         Europe   36000.0
65401  25-34 years old    Hybrid  Bachelor         7.0        (6, 10]                          Developer, full-stack         Europe   40000.0
65408  25-34 years old    Hybrid    Master         9.0        (6, 10]                          Developer, full-stack         Europe   61000.0
65412  35-44 years old    Remote  Bachelor        18.0            15+                            Developer, back-end         Europe   58000.0
65431  45-54 years old    Hybrid  Bachelor        24.0            15+                          Developer, full-stack         Europe   55000.0

[20817 rows x 8 columns]

In [192]:
df.to_csv('../data/preprocessed/preprocessed_data.csv', sep=';', index=False)

In [193]:
pd.read_csv('../data/preprocessed/preprocessed_data.csv', sep=';').head()

               age work_type education  experience experience_bin                                     profession      continent    target
0  35-44 years old    Remote    Master         6.0         (3, 6]  Data scientist or machine learning specialist    Europe/Asia   85000.0
1  35-44 years old    Hybrid    Doctor        18.0            15+                            Engineering manager         Europe  126420.0
2  45-54 years old    Remote     Other        30.0            15+                          Developer, full-stack  North America  195000.0
3  35-44 years old    Remote     Other        20.0            15+                          Developer, full-stack         Europe   35000.0
4  45-54 years old    Remote  Bachelor        27.0            15+                            Developer, back-end         Europe  145000.0